{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Add Transaction
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Add Transaction</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary mx-auto" type="submit">Add</button>
        </form>
    </div>
{% endblock %}