{% extends 'base.html' %}
{% load static %}

{% block title %}
    Cryptofolio
{% endblock %}

{% block content %}

    <div class="container">
        <h3 class="my-4">Cryptocurrencies info</h3>
        <table class="table table-striped table-hover mb-5">
            <thead id="cryptocurrency-table-header">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>24h%</th>
            </tr>
            </thead>
            <tbody id="cryptocurrency-table-body">

            </tbody>

        </table>
    </div>

{% endblock %}

{% block script %}
    <script type="module" src="{% static 'js/home.js' %}"></script>
{% endblock %}