{% extends 'base.html' %}
{% load static %}

{% block title %}
    Portfolio
{% endblock %}

{% block content %}

    <div class="container">
        <h3 class="my-4">Portfolio info</h3>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'add' %}"><button class="btn btn-primary" type="button">Add</button></a>
        </div>

        <table class="table table-striped table-hover mb-5">
            <thead id="portfolio-table-header">
            <tr>
                <th>Name</th>
                <th>Transaction Type</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Spent/Received</th>
            </tr>
            </thead>
            <tbody id="portfolio-table-body">

            </tbody>

        </table>
    </div>


{% endblock %}

{% block script %}
    <script type="module" src="{% static 'js/portfolio.js' %}"></script>
{% endblock %}