<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-auto">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://lsv-tech.com/">LSV Tech</a>.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->